<body class="registration">
<%= form_with(model: child, class: "form") do |form| %>
  <% if child.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(child.errors.count, "error") %> prohibited this child from being saved:</h2>

      <ul>
        <% child.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :gender, class: "form-label" %>
    <%= form.text_field :gender, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :birthday, class: "form-label" %>
    <%= form.date_field :birthday, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%# <%= form.label :user_id, class: "form-label" %> 
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="mb-3">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
</body>
