<%= form_with(model: progress, id: 'progress-form') do |form| %>
<% if progress.errors.any? %>
<div style="color: red">
   <h2><%= pluralize(progress.errors.count, "error") %> prohibited this progress from being saved:</h2>
   <ul>
      <% progress.errors.each do |error| %>
      <li><%= error.full_message %></li>
      <% end %>
   </ul>
</div>
<% end %>
<%= form.hidden_field :challenge_day_id, value: @challenge_day_id %>
<%= form.hidden_field :challenge_id, value: @challenge.id %>
<%= form.hidden_field :child_id, value: @child_id %>
<%= form.submit 'Completed', id: "completion-btn" %>
<% end %>
