<p style="color: green"><%= notice %></p>

<h1>Progresses</h1>

<div class="progress" role="progressbar"
 aria-label="Dynamic Progress"
  aria-valuenow="<%= @progress_value.to_i %>" 
  aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar text-bg-warning"
   style="width: <%= @progress_value.to_s + '%' %>"><%= @progress_value.to_s + '%' %>
   </div>
</div>

<div id="progresses">
  <% @progresses.each do |progress| %>
    <%= render progress %>
    <p>
      <%= link_to "Show this progress", progress %>
    </p>
  <% end %>
</div>

<%= link_to "New progress", new_progress_path %>
