<body class="daysInChallenge">

<h1></h1>
  <%= link_to "Back", "#", class: "backLink", onclick: "event.preventDefault(); history.back();" %>

<div>
<h2 class="headerInDays"><%= @challenge.number_of_days %> Days Challenge</h2>
</div>


<div class="progress" role="progressbar"
 aria-label="Animated striped example"
  aria-valuenow="<%= @progress_percent.to_i %>" 
  aria-valuemin="0" aria-valuemax="<%= @days.count %>">
  <div class="progress-bar progress-bar-striped progress-bar-animated"
   style="width: <%= @progress_percent.to_s + '%' %>"><%= @progress_percent.to_s + '%' %>
   </div>
</div>



<div class="containers">
<% @days.each do |day| %>

<div class="image-background">

    <a href="<%= child_challenge_day_exercises_path(@child ,@challenge, day) %>" class="button button--piyo">
        <div class="button__wrapper">
            <span class="button__text">Day <%= day.number %></span>
        </div>
        <div class="characterBox">
            <div class="character wakeup">
                <div class="character__face"></div>
            </div>
            <div class="character wakeup">
                <div class="character__face"></div>
            </div>
            <div class="character">
                <div class="character__face"></div>
            </div>
        </div>
    </a>
  </div>
<% end %>
</div>


<%# </div> %>
<%# <% if current_user.email == "alina@example.com" %>
<%# <div>
  <%= link_to "Edit this challenge", edit_child_challenge_path(@child ,@challenge) %>
   <%#= link_to "Back to challenges", child_challenge_path(@child ,@challenge) %>
   <%#= button_to "Destroy this challenge", child_challenge_path(@child ,@challenge), method: :delete %>  
 <%# </div>  %>
 <%# <% end %> 
